name: CI

on:
  push:
    branches:
    - '**'
    - '!dependabot/**'
    tags:
    - '**'
  pull_request: {}

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.2
    - uses: actions/setup-node@v2.1.1
      with:
        node-version: 12.x
    - name: Install
      run: npm ci
    - name: Test
      run: npm test
    - name: Build
      run: npm run plugin:prod
    - name: Upload build
      uses: actions/upload-artifact@v2.1.4
      with:
        name: knative.js
        path: ./dist/knative.js
