name: CI

on:
  push:
    branches:
    - '**'
    - '!dependabot/**'
    tags:
    - '**'
  pull_request: {}

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.3.0
    - uses: actions/setup-node@v2.4.0
      with:
        node-version: 12.x
    - name: Install
      run: npm ci
    - name: Test
      run: npm test
    - name: Build
      run: npm run plugin:prod
    - name: Upload build
      uses: actions/upload-artifact@v2.2.4
      with:
        name: knative.js
        path: ./dist/knative.js

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.3.0
    - name: Get release version
      id: get-version
      run: |
        echo ::set-output name=version::$(cat package.json | jq -r .version)
    - name: Draft release
      id: create_release
      uses: actions/create-release@v1.1.4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: true
    - name: Download staged build
      uses: actions/download-artifact@v2.0.10
      with:
        name: knative.js
    - name: Upload release
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
        asset_path: knative.js
        asset_name: knative-${{ steps.get-version.outputs.version }}.js
        asset_content_type: text/javascript
